h2 {
	margin-bottom: 5px;
	margin-top: 10px;
}

#output{
	height: 0px;
	width: 0px;
	border: 0;
	padding: 0;
	margin: 0;
}

form {
	margin-top: 1em;
}

#sp1, #sp2 {
	font-size: 0.85em;
	width: 100%;
	text-overflow: ellipsis;
}

#canvas {
	height: 95%;
	text-align: center;
	vertical-align: middle;
	z-index:	0;
	background: white;

	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;	
}

#leftcol {
	position: absolute;
	float:left;
	width: calc(30% - 205px);
	/*overflow-x: scroll;*/
	margin-top: -1em;
}

#rightcol {
	position: absolute;
	margin-left:calc(30% - 205px);
	width: calc(79% - 205px);
	height: 92%;
}

#start1, #end1 {
	display: inline;
}

input[type="number"] {
	width: 5em;
}

.selection-box {
	position:    absolute;
	background: rgba(0, 128, 255, 0.1);
	border:     2px dotted #AAA;
	z-index:	1;
	pointer-events: none;
}

.zoom_instruction {
	position:    absolute;
	color: #AAF;
	z-index:	1;
	pointer-events: none;
}

.canvas a, .canvas a:visited, .canvas a:hover, .canvas a:link {
	z-index: 10;
}

#bubble {
	position: absolute;
	font-size: 0.85em;
	background: #EEE;
	padding: 0.2em;
	border: 1px solid #aaa;
	text-align: left;
}

#clearall {
  height: 3em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.subbox {
  border: 1px solid #aaa;
  padding: 0.5em;
  font-size: 0.8em;
  background: #EEF;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.boxtitle {
	cursor: pointer;
}

#gparts {
	/*height: 12em;*/
	overflow-x: auto;
}

#message {
  font-size: 0.8em;
  color: #c00;
  padding: 1em;
}
