#genomes {
	margin-top: 20px;
}
h3 {
	margin-top: 30px;
	text-align: center;
}

#links_table {
	display: block;
    overflow-x: auto; 
	max-width: fit-content;
}

table a {
	text-decoration: none;
}

table a:hover {
	text-decoration: underline;
}

.ident {
	background-color:#EEE;
}

#links {    
	text-align: center;
}

#links ul {
	margin-top: 5px;
}

#links li {
	display: inline;
	list-style: none;
	margin: 10px;
}

.infobox {
	margin-left: auto;
	margin-right: auto;
	max-width: 500px;
}

#clear_cache {
	margin-left: auto;
	margin-right: auto;
}