#building {
	padding: 10px;
	background: #BFB;
	border: 2px solid black;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 75%;
	text-align: center;
}

.upload_box {
	border: 2px solid #aaa;
	padding: 20px;
	padding-top: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	background: #71FF71;
}

#trace_content {
	text-align: left;
	font-family: monospace;
	border: 1px solid white;
	background-color: #333;
	color: white;
	padding: 1em;
}

.boxtitle {
	cursor: pointer;
}

.warning {
	color: #C22;
}
